/*@import a Google Font here!*/

body {
  background-image: url("../images/background2.jpg");
  color: yellow;
}

#container {

}

.top {
  margin-top: 5px;
  margin-bottom: 20px;
  opacity: 50%;
}

.bottom {

  margin: 0 auto;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.dashed {
  border: 2px dashed red;
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
}

.left-container, .right-container {
  position: relative;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 5px;
  vertical-align: top;
  width: 48%;
}

.left-container {
  margin-right: 4%;

}

.right-container {
  margin-left: 4%;
}

h2 {
  font-color: yellow;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

img {
  width: 100%;
  border: 1px solid black;
}

.col-xs-6 {
  width:46%;
}

ul {
  padding-left: 0px;
}

