<!DOCTYPE html>

<html ng-app='thunderApp'>
	<head>
		<title>Adopt a Thundercat</title>
		<link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
	</head>

	<body ng-controller="ThunderController as vm">



    <div class="container top">
      <div class="left-container col-xs-6"><h1>Adopt a Thundercat!</h1></div>
      </div>
      <div class="right-container col-xs-6">
        <form>
          <h2>Send a new Thundercat to the Animal Shelter:</h2>
          <input ng-model="vm.newCat.catName"
                 id="darken-text"
                 class="shade" type="text" placeholder='Name the Thundercat'>
          <input ng-model="vm.newCat.yearsOld"
                 id="darken-text"
                 class="shade" type="text" placeholder='Age'>
          <input ng-model="vm.newCat.gender"
                 id="darken-text"
                 class="shade" type="text" placeholder='Gender'>
          <input ng-model="vm.newCat.image"
                 id="darken-text"
                 class="shade" type="text" placeholder='Image Link'>
          <button ng-click="vm.addCat()">Add</button>
        </form>
      </div> <!-- Form Div -->
    </div> <!-- Top div -->


    <div class="container bottom" id="container">
      <div class="left-container col-xs-6">
        <h2>Thundercats at Animal Shelter</h2>
        <ul>
          <li ng-repeat="cat in vm.notAdopted()" class="dashed">
            <h3>My name is {{cat.catName}}</h3>
            <h4>I am a {{cat.gender}} Thundercat.</h4>
            <h5>I am {{cat.yearsOld}} years old.</h5>
            <img src="{{cat.image}}"><br><br>
            <button ng-click="cat.adopted = !cat.adopted">Adopt</button>
            <button class="destroy" ng-click="vm.deleteCat(cat)">Euthanize</button>
        </ul>
      </div> <!-- left container div -->

      <div class="right-container col-xs-6">
        <h2>Adopted by Mumm-Ra</h2>
        <ul>
          <li ng-repeat="cat in vm.adopted()" class="dashed">
            <h3>My name is {{cat.catName}}</h3>
            <h4>I am a {{cat.gender}} Thundercat.</h4>
            <h5>I am {{cat.yearsOld}} years old.</h5>
            <img src="{{cat.image}}"><br><br>
            <button ng-click="cat.adopted = !cat.adopted">Return to Animal Shelter</button>
            <button class="destroy" ng-click="vm.deleteCat(cat)">Euthanize</button>
            <br><br>
          </li>
        </ul>


      </div> <!-- right container div -->
    </div> <!-- main container div -->

	</body>

	  <script src="/js/angular.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/ThunderController.js"></script>
</html>
